/* Change the background color of the fieldsets */
.fieldset {
    background-color: #f2f2f2;  /* Light gray background */
}

/* Change the color of the labels */
label {
    color: #4CAF50;  
}

/* Change the color of input fields */
input[type="text"], input[type="email"], input[type="password"] {
    background-color: #e6f7ff;  
    border: 1px solid #111211;  
}

/* Button styling */
button,
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover,
input[type="submit"]:hover {
    background-color: #388e3c; /* Darker green on hover */
    transform: scale(1.02);
}
